h1.title {
	font-family: 'Pacifico', cursive;
	margin-bottom: 2px;
}
h3.title {
	margin-top: 0;
	text-align: initial;
	margin-left: -30px;
}
h1.title span {
	color: #030087;
	font-size: 40px;
}
h1.title span#count {
	color: initial;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

section.center {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.dcontainer {
	border: 1px dashed rgb(170, 170, 170);
	font-size: 14pt;
}

#ask {
	margin: 0px auto 10px auto;
	padding: 15px 10px;

	min-height: 25%;
}
#form {
	padding-top: 15px;
	height: 100%;
}

#msgs {
	height: calc(75% - 26px);
	overflow-y: auto;
	padding: 0 5px 0 0;
	font-size: 14px;
}
#msgs ul {
	padding: 0;
}
#msgs ul li {
	display: block;
	background-color: #FF6666;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 5px;
}
#msgs ul li.success {
	background-color: #4ABE31;
}

#msgs span {
	font-size: 12px;
	color: #ADADAD;
}


#people, #book {
	padding: 0px 10%;
}

section button {
	background-color: #EDEDED;
	background-image: none;
	box-shadow: none;
	border: 1px solid #EDEDED;
}
section button:hover {
	background-color: #DDD;
}
section button:active {
	border: 1px solid #BBB;
	box-shadow: none;
}
section button.btn:focus {
	outline: 3px auto #99ACB8;
}
section button.btn.active:focus {
	outline: 3px auto #99ACB8;
}
section button.btn.active {
	border: 1px solid #BBB;
	box-shadow: none;
}


section .form-group {
    text-align: initial;	
}
section .form-group input {
	width: 95%;
	display: initial;
	
}
section .form-group input[type="radio"] {
	width: initial;
	
}
section .form-group label {
	display: block;
	
}

.radio-wrapper {
	margin-left: 10px;
	display: inline-block;
	padding: 5px;
}

.radio-wrapper input{
	float: right;
	margin-top: 8px;
}

i.required::before {
	content: '*';
	color: #FF5959;
}

@media (max-width : 992px) {
	#form {
		margin-top: 10px;
	}
}